[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui
[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "libraries/cocos-headers"]
	path = libraries/cocos-headers
	url = https://github.com/HJFod/cocos-headers.git
[submodule "libraries/gd.h"]
	path = libraries/gd.h
	url = https://github.com/HJFod/gd.h.git
[submodule "libraries/imgui-hook"]
	path = libraries/imgui-hook
	url = https://github.com/oneparsec/imgui-hook.git
